body {
  background-color: #555555;
  background-image: url("images/tileDevTexR2.bmp");
  margin: 10px auto;
  max-width: 600pt;
  background-blend-mode: multiply;
  background-size: 100px 100px;
}


h.title{
  font-family: 'Helvetica';
  font-size: 25pt;
  color: white;
}

h.listname{
  font-family: 'Helvetica';
  font-size: 20pt;
  display: block;
  margin-top: 10px;
  color: white;
}

p.about{
  display: inline;
  color: grey;
}
p.about2{
  font-size: 20pt;
  color: grey;
  display: block;
  margin-top: 10px;
}
p.bottomtext{
  display: inline;
  font-size: 15pt;
  color: grey;
}

a{
  font-family: 'mononoki';
  color: #DCDCDC;
  font-size: 15pt;
}

div.layer1{
  text-align: center;
}


div.layer2 {
  font-size: 15pt;
  text-align: start;
  width: 40%;
  display: inline-block;
  float: left;
}

div.layer3 {
  font-size: 15pt;
  font-family: 'mononoki';
  color: #DCDCDC;
  width: 40%;
  display: inline-block;
  float: right;
}

div.mainwrap {
  width: 100%;
  height: 500px;
}

div.layer4 {
  font-size: 15pt;
  font-family: 'mononoki';
  color: #DCDCDC;
  position: absolute;
  bottom:0px;
  margin: 10px auto;
  width: 98%;
}

ul.list {
  padding-left: 0;
  margin-top:0; 
  margin-bottom:10;
  list-style-type: none;

}

a:link {text-decoration:underline dotted;}
a:visited {}
a:hover {text-decoration:underline}