body {
  background-color: #555555;
  background-image: url("images/tileDevTexR2.bmp");
  margin: 10pt auto;
  width: 600pt;
  background-blend-mode: multiply;
  background-size: 80pt 80pt;
}

hr{
  border: 1px solid rgb(48, 52, 54);
  color:grey;

}

h.title{
  font-family: 'Helvetica';
  font-size: 25pt;
  color: white;
}

h.listname{
  font-family: 'Helvetica';
  font-size: 20pt;
  display: block;
  margin-top: 10pt;
  color: white;
}

p.about{
  font-family: 'mononoki';
  display: inline;
  font-size: 12pt;
  color: grey;
}
p.about2{
  font-family: 'mononoki';
  font-size: 12pt;
  color: grey;
  margin-top: 10pt;
}
p.bottomtext{
  display: inline;
  font-size: 15pt;
  color: grey;
}

a{
  font-family: 'mononoki';
  color: #DCDCDC;
  font-size: 15pt;
}

div.layer1{
  text-align: center;
}


div.layer2 {
  
  text-align: start;
  width: 40%;
  float: left;
}

div.layer3 {
  width: 40%;
  float: right;
}

div.mainwrap {
  display: flex;
  justify-content: space-between;
}

div.layer4{
text-align: center;
margin-top: 10pt;
}

div.layer5 {
  font-size: 15pt;
  font-family: 'mononoki';
  color: #DCDCDC;
  position: absolute;
  bottom:0pt;
  margin: 10pt auto;
  width: 600pt;
}

ul.list {
  padding-left: 0;
  margin-top:0; 
  margin-bottom:10;
  list-style-type: none;

}

a:link {text-decoration:underline dotted;}
a:visited {}
a:hover {text-decoration:underline}